body {
	overflow-x: hidden;
	font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica,
		STHeiti;
}

.container {
	position: relative;
	background: url(../images/bg4.png) no-repeat scroll 0 0 transparent;
}

@CHARSET "UTF-8";

.container-bg {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}

.header {
	width: 1000px;
	height:131px;
	position: relative;
	z-index: 100;
 
}

.footer { /*border-top:solid 1px #999999;*/
	width: 960px;
	margin: 0 auto;
	position: relative;
	z-index: 100;
}

.content {
	width: 960px;
	margin: 0 auto;
	position: relative;
	z-index: 100;
	min-height: 500px;
}

.header {
	padding-top: 20px;
	overflow: hidden;
	zoom: 1;
	margin: 0 auto;
}

.header-logo {
	float: left;
	width: 566px;
	height: 124px;
	background: url(../images/logo.png) 0 0 no-repeat;
}

.header-search {
	background: url(../images/icon.png) 0 0 no-repeat;
	width: 188px;
	height: 30px;
	padding-top: 2px;
	float: right;
	margin-top: 15px;
}

.header-search-ipt {
	background-color: transparent;
	border: medium none;
	color: #FFFFFF;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	vertical-align: top;
	width: 160px;
}

.header-search-btn {
	cursor: pointer;
	display: inline-block;
	height: 32px;
	width: 20px;
}

/*ǰ̨��¼��*/
.header-login {
	width: 310px;
	height: 40px;
	line-height: 40px;
	float: right;
	margin-top: 25px;
}

.header-login .header-login-user {
	background: url(../images/header-login-search.png) no-repeat 15px 6px;
	height: 20px;
	line-height: 20px;
	padding: 10px 0;
	border: medium none;
	width: 146px;
	margin-left: 80px;
	float: left;
}

.header-login .header-login-password {
	background: url(../images/header-login-password.png) no-repeat 0 6px;
	height: 20px;
	line-height: 20px;
	padding: 10px 0;
	border: medium none;
	margin: 0;
	width: 132px;
	float: left;
}

.header-login .header-login-btn {
	background: url(../images/search_btn.png) no-repeat 0 9px;
	height: 40px;
	line-height: 40px;
	border: medium none;
	width: 20px;
	padding: 0;
	margin: 0;
	float: left;
	cursor: pointer;
}

.header-login input {
	background-color: transparent;
	border: medium none;
	color: #000000;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding-left: 30px;
	vertical-align: middle;
	width: 105px;
}

.header-login-btn {
	background-image: url(../images/header-login--btn.png);
	height: 21px;
	float: left;
}

.header-login .header-login-welcome-span {
	font-size: 14px;
	line-height: 150%;
	width: 310px;
	clear: both;
}

.header-login .header-login-welcome-span span {
	color: #ffffff;
	float: right;
}

.header-login .header-login-welcome-link {
	font-size: 14px;
	line-height: 150%;
	width: 310px;
	float: right;
}

.header-login .header-login-welcome-link a {
	float: right;
	color: #cccccc;
	text-decoration: none;
}

.header-login .header-login-welcome-link a:hover {
	color: goldenrod;
}

.menu {
	height: 40px;
	width: 100%;
	position: relative;
	z-index: 101;
	margin-bottom: 10px;
}

.menu-bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	/*height: 52px;*/
	height: 40px;
	background-image: url(../images/main-menu-bg.png);
	 
}

.menu-list {
	z-index: 101;
	width: 1000px;
	margin: 0 auto;
}

/*һ���˵���*/
.menusel {
	float: left;
	width: 96px;
	position: relative;
	height: 40px;
	line-height: 52px;
	margin-left: 1px;
	*margin-left: 0;
	_margin-left: -1px;
	z-index: 101;
	
}

/*���в˵�������*/
.menusel a {
	display: block;
	text-align: center;
	width: 120px;
	position: relative;
	z-index: 2;
	text-decoration: none;
	color: white;
	height: 40px;
	border: none;
	/*font-size: 14px;*/
}

/*һ���˵�*/
.menusel>h2 {
	font-size: 14px;
	line-height: 40px;
	height: 40px;
}

.menusel>h2>a {
	height: 40px;
}
 
.menusel>h2>a:hover {
	font-size: 16px;
		background-image: url(../images/main-menu-bg2.png);
	
}

.menusel .position {
	position: absolute;
	z-index: 1;
}

/*�Ӳ˵�*/
.menusel ul {
	width: 120px;

	/*background: #322F32;*/
	margin-top: 0;
	position: relative;
	z-index: 1;
	display: none;
	border: 1px solid #a9a9a9;
background: #fff;
-moz-border-radius: 0 0 4px 4px;
-webkit-border-radius: 0 0 4px 4px;
border-radius: 0 0 4px 4px;
-moz-box-shadow: 0 5px 12px rgba(0,0,0,0.3);
-webkit-box-shadow: 0 5px 12px rgba(0,0,0,0.3);
box-shadow: 0 5px 12px rgba(0,0,0,0.3);
}

.menusel .block {
	display: block;
}

.menusel .typeul li {
	border-bottom: 1px dotted #1479AF;
	background: #FFF;
	
	width: 120px;
	position: relative;
	float: left;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
}
.menusel .typeul li a{
		font-size:14px;
		font-weight: bold;
		color:#1a8bb9;
}
.menusel .typeul li a:hover {
	 background-image: url(../images/main-menu-bg2.png);
	font-weight: bold;
	color:#FFF;
	 
}

.menusel .typeul ul {
	left: 120px;
	top: 0;
	position: absolute;
	/*font-size: 0;*/
}

.content {
	overflow: hidden;
	zoom: 1;
	position: relative;
}

.content-nav {
	position: relative;
	overflow: hidden;
	zoom: 1;
	margin-bottom: 11px;
}

.content-nav-bg {
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10;
	height: 40px;
	width: 1000px;
	background: #FFFFFF;
	-ms-opacity: 0.6;
	opacity: 0.6;
	filter: Alpha(opacity =     60);
}

.content-nav-list {
	font-family: ����;
	position: relative;
	z-index: 100;
	height: 40px;
	line-height: 40px;
	padding-left: 11px;
}

.content-nav-list a {
	text-decoration: none;
	color: #05589d;
}

.content-left,.content-right {
	float: left;
	position: relative;
	overflow: hidden;
	zoom: 1;
	margin-bottom: 20px;
}

.content-left {
	width: 650px;
	min-height: 785px;
	padding: 20px 19px;
	margin-right: 10px;
	border: 1px solid #9DC2E1;
}

.content-right {
	width: 300px;
}

.content-weibo {
	margin-bottom: 10px;
	background: url(../images/weibo.png) 0 0 no-repeat;
	/*background-image: url(./weibo.png);*/
}

.content-article {
	position: relative;
	width: 270px;
	padding: 10px 14px 15px;
	border: 1px solid #9DC2E1;
	margin-bottom: 10px;
}

.friend-link {
	border: 1px solid #9DC2E1;
	padding: 0 28px;
	width: 938px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.friend-link-title,.friend-link-list {
	position: relative;
	z-index: 100;
}

.friend-link-title {
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #D4D4D4;
}

.friend-link-list {
	padding: 19px 0;
	overflow: hidden;
	zoom: 1;
}

.friend-link-item {
	float: left;
	width: 130px;
	height: 50px;
	margin-right: 4px;
}

.friend-link-item a {
	display: inline-block;
	width: 130px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: 0 0;
}
.friend-link-item img{
	width:130px;
	height:50px;
}
.footer-content {
	line-height: 20px;
	text-align: center;
	color: #333333;
	font-family: Arial;
	margin-top: 20px;
}

.footer-content a {
	text-decoration: none;
	color: #aaaaaa;
}

.opacity-bg {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	height: 100%;
	width: 100%;
	background: #FFFFFF;
	-ms-opacity: 0.6;
	opacity: 0.6;
	filter: Alpha(opacity =     60);
}

.pager {
	margin: 0 auto;
}

.pager a {
	text-decoration: none;
	height: 24px;
	line-height: 24px;
	padding: 0 8px;
	margin: 0 5px;
	display: inline-block;
	border: 1px solid #E7ECF0;
	font-size: 12px;
	font-family: ����;
	color: #0065b3;
}

.pager a.current {
	border: 1px solid #FFFFFF;
	cursor: default;
	color: #333333;
}

.pager a.current:hover {
	text-decoration: none;
	cursor: default;
}

.article-detial,.article {
	position: relative;
	z-index: 100;
}

.article-list {
	margin-bottom: 20px;
}

.article-title {
	color: #05589d;
	font-size: 18px;
	line-height: 56px;
	border-bottom: 1px solid #B1CDE5;
}

.article-item {
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	zoom: 1;
	font-size: 14px;
}

.article-item-title {
	display: inline-block;
	float: left;
	width: 500px;
	padding-left: 20px;
	text-decoration: none;
	color: #000000;
	overflow: hidden;
	white-space: nowrap;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	background: url(../images/icon.png) 5px -128px no-repeat;
}

.article-item-title:hover {
	color: #05589d;
}

.article-item-time {
	float: right;
	display: inline-block;
	color: #999999;
}

.article-detail-title {
	color: #05589d;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 30px;
}

.article-detail-info {
	text-align: center;
	display: block;
	height: 24px;
	line-height: 24px;
	width: inherit;
	border-bottom: 1px solid #B1CDE5;
	margin-bottom: 20px;
}

.article-detail-context-img {
	border: 1px solid #98B4CE;
	-ms-border-radius: 3px;
	border-radius: 3px;
	padding: 3px;
	margin: 20px auto;
	width: 500px;
	height: 330px;
	display: block;
	margin-bottom: 40px;
}

.article-detail-context p {
	text-indent: 2em;
	line-height: 24px;
}

.article-detail-context-editor {
	display: block;
	text-align: right;
	width: inherit;
	line-height: 24px;
}

.related-article {
	position: relative;
	z-index: 100;
}

.related-article-title {
	height: 36px;
	border-bottom: 1px solid #B1CDE5;
	overflow: hidden;
	zoom: 1;
	width: 270px;
}

.related-article-title-context {
	font-size: 18px;
	color: #05589d;
	line-height: 30px;
	float: left;
	display: inline-block;
}

.related-article-title-more {
	line-height: 30px;
	font-size: 14px;
	color: #05589d;
	float: right;
	text-decoration: none;
}

.related-article-list {
	width: 270px;
}

.related-article-item {
	height: 27px;
	line-height: 27px;
	overflow: hidden;
	zoom: 1;
}

.related-article-item-title {
	color: #000000;
	text-decoration: none;
	display: inline-block;
	width: 200px;
	padding-left: 20px;
	white-space: nowrap;
	overflow: hidden;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	float: left;
	background: url(../images/icon.png) 5px -42px no-repeat;
}

.related-article-item-title:hover {
	color: #05589d;
	text-decoration: underline;
}

.related-article-item-time {
	float: right;
}

.related-article-item-title-without-time {
	color: #000000;
	text-decoration: none;
	display: inline-block;
	width: 250px;
	padding-left: 20px;
	white-space: nowrap;
	overflow: hidden;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	float: left;
	background: url(../images/icon.png) 5px -42px no-repeat;
}

.related-article-item-title-without-time:hover {
	color: #05589d;
	text-decoration: underline;
}

.friend-article {
	position: relative;
	z-index: 100;
}

.friend-article-title {
	height: 36px;
	border-bottom: 1px solid #B1CDE5;
	overflow: hidden;
	zoom: 1;
	width: 270px;
}

.friend-article-title-context {
	font-size: 18px;
	color: #05589d;
	line-height: 30px;
	float: left;
	display: inline-block;
}

.friend-article-list {
	width: 270px;
}

.friend-article-list-item {
	width: 270px;
	height: 50px;
	margin: 10px auto;
}

.friend-article-list-item a {
	display: inline-block;
	width: 130px;
	height: 50px;
}

.friend-article-list-item a.firstone {
	float: left;
}

.friend-article-list-item a.secondone {
	float: right;
}

.friend-article-list-item img {
	width: 100%;
	height: 100%;
}

/*��ҳcss*/
.scrollPics { /*padding-top: 18px;*/
	margin-bottom: 20px;
	overflow: hidden;
	zoom: 1;
}

.scrollPics-left,.scrollPics-right {
	float: left;
	position: relative;
}

.scrollPics-left {
	width: 665px;
	height: 339px;
	overflow: hidden;
	zoom: 1;
}

.scrollPic-list {
	width: 2660px;
	height: 339px;
	overflow: hidden;
	zoom: 1;
}

.scrollPic-item {
	float: left;
}

.scrollPics-right {
	width: 335px;
	height: 339px;
	background: url(../images/color_blue.jpg) 0 0 no-repeat;
}

.scrollPicA {
	width: 304px;
	margin: 260px auto 0 auto;
	height: 47px;
	overflow: hidden;
	zoom: 1;
}

.scrollPicA-item {
	width: 70px;
	height: 40px;
	margin: 0 3px;
	float: left;
	padding-top: 7px;
}

.scrollPicA a {
	display: inline-block;
	width: 64px;
	height: 34px;
	padding: 3px;
	background-color: #F9D6CE;
}

.triangle {
	font-size: 0;
	width: 0;
	height: 0;
	border: 7px solid #F9D6CE;
	border-color: transparent transparent #F9D6CE transparent;
	position: absolute;
	top: 253px;
	margin-left: 28px;
	display: none;
}

.current .triangle {
	display: block;
}

.scroll-tip {
	position: absolute;
	top: 40px;
	color: #FFFFFF;
	font-family: ����;
	left: 30px;
	display: none;
}

.current .scroll-tip {
	display: block;
}

.scroll-tip-title {
	display: block;
	height: 18px;
	line-height: 18px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.scroll-tip-context {
	width: 275px;
	text-indent: 2em;
	line-height: 24px;
}

.content {
	overflow: hidden;
	zoom: 1;
	/*margin-bottom: 60px;*/
}

.content-resource-left,.content-resource-center,.content-resource-right
	{
	float: left;
	margin-right: 38px;
}

.content-resource-left {
	width: 270px;
}

.content-resource-center {
	width: 431px;
}

.content-resource-right {
	margin-right: 0;
	width: 220px;
}

.resource {
	margin-bottom: 20px;
	font-family: ����;
}

.resource-title {
	height: 28px;
	line-height: 28px;
	border-bottom: 2px solid #0065B3;
	position: relative;
	margin-bottom: 10px;
}

.resource-title h2 {
	float: left;
	font-size: 14px;
	color: #0366b7;
	font-weight: bold;
}

.resource-title img {
	width: 15px;
	height: 14px;
	float: left;
	margin-top: 7px;
	margin-right: 5px;
}

.resource-title-more {
	float: right;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	padding-left: 16px;
	text-decoration: none;
	color: #656565;
}

.title-triangle {
	font-size: 0;
	width: 0;
	border: 7px solid #0065B3;
	border-color: transparent transparent #0065B3 transparent;
	position: absolute;
	bottom: 0;
	left: 24px;
	display: none;
}

.resource-item {
	width: inherit;
	height: 31px;
	border-bottom: 1px dotted #CCCCCC;
}

.content-resource-right .resource-item a {
	margin-top: 5px;
	font-size: 13px;
	width: 145px;
	display: inline-block;
	overflow: hidden;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #000000;
	height: 22px;
	line-height: 22px;
	text-decoration: none;
}

.content-resource-left .resource-item a {
	margin-top: 5px;
	font-size: 13px;
	width: 200px;
	display: inline-block;
	overflow: hidden;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #000000;
	height: 22px;
	line-height: 22px;
	text-decoration: none;
}

.resource-item span {
	color: #aaa;
	margin-top: 9px;
	font-size: 13px;
	float: right;
}

.resource-item img {
	color: #aaa;
	margin-top: 5px;
	font-size: 13px;
	float: left;
}

.resource-context {
	display: inline-block;
	overflow: hidden;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #000000;
	height: 22px;
	line-height: 22px;
	text-decoration: none;
}

.content-resource-left .resource-item a:hover {
	color: #0065B3;
}

.content-resource-right .resource-item a:hover {
	color: #0065B3;
}

.resource-context:hover {
	color: #0065B3;
}

.content-resource-left .resource-context {
	width: 270px;
}

.content-resource-center .resource-item {
	border-bottom: none;
	margin-bottom: 14px;
	height: 78px;
}

.content-resource-center .resource-item img {
	float: left;
	width: 125px;
	height: 75px;
	padding: 1px;
	border: 0px solid #333333;
	display: inline;
	box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.6);
}

.content-resource-center .resource-item .resource-context {
	width: 290px;
	margin-top: 2px;
}

.content-resource-center .resource-item a {
	margin-top: 2px;
}

.resource-item-title {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	color: #0065B3;
	font-family: "Microsoft Yahei", "΢���ź�", Tahoma, Arial, Helvetica,
		STHeiti;
	font-size: 14px;
	width: 250px;
	overflow: hidden;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
	/*font-weight: bold;*/
}

.resource-item-title:hover {
	text-decoration: underline;
}

.content-resource-center .resource-item-title {
	padding-left: 5px;
}

.content-resource-center .resource-context {
	color: #666666;
	line-height: 18px;
	height: 54px;
	width: 200px;
	white-space: normal;
	word-break: break-all;
	padding-left: 5px;
}

.content-resource-right .resource-context {
	width: 215px;
}

.news-content-left {
	width: 250px;
	float: left;
	background: #FFF;
	margin-right: 10px;
}

.news-content-left img {
	width: 100%;
	height: 150px;
}

.news-left-img {
	border: 1px solid #FFF;
}

.news-left-relate {
	margin-top: 2px;
	border: 1px solid #9DC2E1;
}

.news-left-head {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	line-height: 28px;
	height: 32px;
	font-size: 18px;
	color: #05589d;
	border-bottom: 2px solid #9DC2E1;
}

.news-left-title {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
}

.news-left-list {
	margin-bottom: 15px;
}

.news-left-item {
	font-size: 13px;
	line-height: 22px;
	width: inherit;
	height: 29px;
	border-bottom: 1px dotted #CCCCCC;
}

.news-left-list .news-left-item a {
	margin-top: 5px;
	font-size: 13px;
	width: 215px;
	display: inline-block;
	overflow: hidden;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #000000;
	height: 22px;
	line-height: 22px;
	text-decoration: none;
}

.news-left-list .news-left-item a:hover {
	color: #0065B3;
}

.news-left-list .news-left-item img {
	color: #aaa;
	margin-top: 5px;
	font-size: 13px;
	float: left;
	width: 13px;
	height: 20px;
}

.news-content-right {
	width: 698px;
	float: left;
	background: #FFF;
	border: 1px solid #9DC2E1;
}

.news-set-font {
	width: 120px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	float: right;
	font-size: 12px;
}

.news-set-font a:hover {
	text-decoration: underline;
}

.news-right-pos {
	width: 400px;
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	float: left;
	font-size: 14px;
}

.news-right-pos a {
	font-size: 14px;
 	overflow: hidden;
	white-space: nowrap;
	color: #000000;
	height: 22px;
	line-height: 22px;
	text-decoration: none;
}

.news-right-pos a:hover {
	text-decoration: underline;
}

.news-content-headinfo {
	width: inherit;
	display: block;
	height: 40px;
}

.news-content-title {
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
	width: inherit;
	line-height: 30px;
}

.news-content-time {
	color: #666666;
	text-align: center;
	height: 30px;
	border-bottom: 1px dotted #666666;
	margin-left: 15px;
	margin-right: 15px;
}

.news-content-detail {
	width: 670px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 10px;
	min-height: 550px;
	font-size: 16px;
	font-family: "宋体";
	white-space: normal;
	word-break: break-all;
	margin-bottom: 25px;
}

.news-content-detail a {
	color: #000;
}

.news-content-detail a:visited {
	color: #000;
}

.news-list-item {
	width:680px;
	font-size: 13px;
	line-height: 22px;
	width: inherit;
	height: 35px;
	border-bottom: 1px dotted #CCCCCC;
	margin-left:10px;
	 margin-right:10px;
}

.news-list-list .news-list-item a {
	margin-top: 8px;
	font-size: 13px;
	width: 500px;
	display: inline-block;
	overflow: hidden;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #000000;
	height: 22px;
	line-height: 22px;
	text-decoration: none;
}

.news-list-list .news-list-item a:hover {
	color: #0065B3;
}

.news-list-list .news-list-item img {
	color: #aaa;
	font-size: 13px;
	float: left;
	width: 13px;
	height: 20px;
	margin-top:8px;
}

.news-list-list .sspan {
	color: #aaa;
	margin-top: 9px;
	font-size: 13px;
	float: right;
	width:120px;
}
/*��������*/
.djgz { /*margin-bottom: 20px;*/
	font-family: ����;
	width: 300px;
	float: left;
	margin-left: 12px;
	margin-right: 13px;
	height: 300px;
	display: inline;
}

.djgz-title {
	height: 28px;
	line-height: 28px;
	border-bottom: 2px solid #0065B3;
	position: relative;
	margin-bottom: 10px;
}

.djgz-title h2 {
	float: left;
	font-size: 14px;
	color: #0366b7;
	font-weight: bold;
}

.djgz-title-more {
	float: right;
	display: inline;
	height: 28px;
	line-height: 28px;
	padding-left: 16px;
	text-decoration: none;
	color: #656565;
	background: url(../images/icon.png) left -177px no-repeat;
}

.djgz .title-triangle {
	font-size: 0;
	width: 0;
	border: 7px solid #0065B3;
	border-color: transparent transparent #0065B3 transparent;
	position: absolute;
	bottom: 0;
	left: 24px;
	display: none;
}

.djgz-item {
	width: inherit;
	line-height: 22px;
	height: 22px;
	border-bottom: 1px dotted #CCCCCC;
}

.djgz-context {
	display: inline-block;
	overflow: hidden;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #000000;
	height: 22px;
	line-height: 22px;
	text-decoration: none;
	width: 290px;
}

.djgz-context:hover {
	color: #0065B3;
}

.djgz-item-title {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	color: #0065B3;
	font-family: "Microsoft Yahei", "΢���ź�", Tahoma, Arial, Helvetica,
		STHeiti;
	font-size: 14px;
	width: 250px;
	overflow: hidden;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
	/*font-weight: bold;*/
}

.djgz-item-title:hover {
	text-decoration: underline;
}

/*ѧ���ҵ*/
.jyxx { /*margin-bottom: 20px;*/
	font-family: ����;
	width: 300px;
	float: left;
	margin-left: 12px;
	margin-right: 13px;
	height: 300px;
	display: inline;
}

.jyxx-title {
	height: 28px;
	line-height: 28px;
	border-bottom: 2px solid #0065B3;
	position: relative;
	margin-bottom: 10px;
}

.jyxx-title h2 {
	float: left;
	font-size: 14px;
	color: #0366b7;
	font-weight: bold;
}

.jyxx-title-more {
	float: right;
	display: inline;
	height: 28px;
	line-height: 28px;
	padding-left: 16px;
	text-decoration: none;
	color: #656565;
	background: url(../images/icon.png) left -177px no-repeat;
}

.jyxx .title-triangle {
	font-size: 0;
	width: 0;
	border: 7px solid #0065B3;
	border-color: transparent transparent #0065B3 transparent;
	position: absolute;
	bottom: 0;
	left: 24px;
	display: none;
}

.jyxx-item {
	width: inherit;
	line-height: 22px;
	height: 22px;
	border-bottom: 1px dotted #CCCCCC;
}

.jyxx-context {
	display: inline-block;
	overflow: hidden;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #000000;
	height: 22px;
	line-height: 22px;
	text-decoration: none;
	width: 290px;
}

.jyxx-context:hover {
	color: #0065B3;
}

.jyxx-item-title {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	color: #0065B3;
	font-family: "Microsoft Yahei", "΢���ź�", Tahoma, Arial, Helvetica,
		STHeiti;
	font-size: 14px;
	width: 250px;
	overflow: hidden;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
	/*font-weight: bold;*/
}

.jyxx-item-title:hover {
	text-decoration: underline;
}

/*��Ϣ����*/
.xxgk { /*margin-bottom: 20px;*/
	font-family: ����;
	width: 300px;
	float: left;
	margin-left: 12px;
	margin-right: 13px;
	height: 300px;
	display: inline;
}

.xxgk-title {
	height: 28px;
	line-height: 28px;
	border-bottom: 2px solid #0065B3;
	position: relative;
	margin-bottom: 10px;
}

.xxgk-title h2 {
	float: left;
	font-size: 14px;
	color: #0366b7;
	font-weight: bold;
}

.xxgk-title-more {
	float: right;
	display: inline;
	height: 28px;
	line-height: 28px;
	padding-left: 16px;
	text-decoration: none;
	color: #656565;
	background: url(../images/icon.png) left -177px no-repeat;
}

.xxgk .title-triangle {
	font-size: 0;
	width: 0;
	border: 7px solid #0065B3;
	border-color: transparent transparent #0065B3 transparent;
	position: absolute;
	bottom: 0;
	left: 24px;
	display: none;
}

.xxgk-item {
	width: inherit;
	line-height: 22px;
	height: 22px;
	border-bottom: 1px dotted #CCCCCC;
}

.xxgk-context {
	display: inline-block;
	overflow: hidden;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #000000;
	height: 22px;
	line-height: 22px;
	text-decoration: none;
	width: 290px;
}

.xxgk-context:hover {
	color: #0065B3;
}

.xxgk-item-title {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	color: #0065B3;
	font-family: "Microsoft Yahei", "΢���ź�", Tahoma, Arial, Helvetica,
		STHeiti;
	font-size: 14px;
	width: 250px;
	overflow: hidden;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
	/*font-weight: bold;*/
}

.xxgk-item-title:hover {
	text-decoration: underline;
}

.scrollPicsNew {
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 0;
	width: 1000px;
}

.scrollPicsNew .H_nav {
	padding-right: 20px;
	width: 210px;
	float: left;
	display: inline;
}

/*.scrollPicsNew .H_nav li {
    margin-top: 7px;
    padding-right: 5px;
}*/
.H_nav_item { /*margin-top: 7px;*/
	display: block;
	height: 45px;
	color: #333333;
	padding-top: 5px;
	padding-left: 5px;
	 
 }
.H_nav_item img{
	width:230px;
	height:45px;
 
}
.H_nav_item div {
	color: #333333;
	font-size: 14px;
	font-family: "Microsoft Yahei", STHeiti;
	margin-top: 8px;
}

 
.H_nav_item:hover div {
	color: #ffffff;
}

.H_nav_item2 { /*margin-top: 7px;*/
	display: block;
	height: 40px;
	color: #333333;
	padding-top: 3px;
	padding-right: 10px;
	background: url(../images/H_nav_bg33.png) no-repeat scroll left center;
}

.H_nav_item2 div {
	color: #333333;
	float: right;
}

.H_nav_item2:hover {
	color: #ffffff;
	background-color: #000000;
	opacity: 0.6;
}

.H_nav_item2:hover div {
	color: #ffffff;
}

.scrollPicsNew .H_img {
	height: 300px;
	margin: 3px 0 0 17px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 765px;
}

.scrollPicsNew .H_img .H_banner_imgs a {
	display: none;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 2;
}

.scrollPicsNew .H_img .H_banner_imgs a.active {
	display: block;
}

.scrollPicsNew .H_img .H_banner_imgs p {
	bottom: 5px;
	height: 20px;
	position: absolute;
	right: 5px;
	text-align: center;
	z-index: 9;
}

.scrollPicsNew .H_img .H_banner_imgs p i {
	background: none repeat scroll 0 0 #CCCCCC;
	border: 1px solid #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 12px;
	font-style: normal;
	height: 16px;
	line-height: 16px;
	margin: 0 2px;
	padding: 0 2px;
	width: 12px;
}

.scrollPicsNew .H_img .H_banner_imgs p i.hover {
	background: none repeat scroll 0 0 #F53D05;
}

/*��Ϣ����*/
.gzzd { /*margin-bottom: 20px;*/
	font-family: ����;
	width: 300px;
	float: left;
	margin-left: 12px;
	margin-right: 13px;
	height: 300px;
	display: inline;
}

.gzzd-title {
	height: 28px;
	line-height: 28px;
	border-bottom: 2px solid #0065B3;
	position: relative;
	margin-bottom: 10px;
}

.gzzd-title h2 {
	float: left;
	font-size: 14px;
	color: #0366b7;
	font-weight: bold;
}

.gzzd-title-more {
	float: right;
	display: inline;
	height: 28px;
	line-height: 28px;
	padding-left: 16px;
	text-decoration: none;
	color: #656565;
	background: url(../images/icon.png) left -177px no-repeat;
}

.gzzd .title-triangle {
	font-size: 0;
	width: 0;
	border: 7px solid #0065B3;
	border-color: transparent transparent #0065B3 transparent;
	position: absolute;
	bottom: 0;
	left: 24px;
	display: none;
}

.gzzd-item {
	width: inherit;
	line-height: 22px;
	height: 22px;
	border-bottom: 1px dotted #CCCCCC;
}

.gzzd-context {
	display: inline-block;
	overflow: hidden;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #000000;
	height: 22px;
	line-height: 22px;
	text-decoration: none;
	width: 290px;
}

.gzzd-context:hover {
	color: #0065B3;
}

.gzzd-item-title {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	color: #0065B3;
	font-family: "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;
	font-size: 14px;
	width: 250px;
	overflow: hidden;
	-moz-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-decoration: none;
	/*font-weight: bold;*/
}

.gzzd-item-title:hover {
	text-decoration: underline;
}

img {
	border: 0;
}

#slides {
	position: relative;
	width: 680px;
	height: 300px;
	float: left;
}

.slides_container {
	overflow: hidden;
	position: relative;
	display: none;
	width: 680px;
	height: 300px;
}

.slides_container div.slide {
	width: 680px;
	height: 300px;
	display: block;
}

.slides_container img {
	width: 680px;
	height: 300px;
	display: block;
}

#slides .prev {
	margin-right: 5px;
	float: left;
}

#slides .next {
	margin-right: 5px;
	float: left;
}

.pagination {
	margin: 6px 0 0;
	list-style: none;
	z-index: 9999;
	position: absolute;
	bottom: 15px;
	right: 15px;
}

.pagination li {
	float: left;
	margin: 0 1px;
}

.pagination li a {
	display: block;
	width: 13px;
	height: 0;
	padding-top: 13px;
	background-position: 0 0;
	float: left;
	overflow: hidden;
	background-image: url(../images/circle.png);
}

.pagination li.current a,.pagination li.current a:hover {
	background-position: -16px -0px
}

.pagination li a:hover {
	background-position: 0px -0px
}

#slides a:link,#slides a:visited {
	color: #333
}

#slides a:hover,#slides a:active {
	color: #9e2020
}