<!DOCTYPE html>
<html>
<head>
<title>池州星地一体化监测及无线传感器网络应用示范</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="text/javascript" charset="utf-8" src="/site_media/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/site_media/js/jquery.form.js"></script>

<link rel="stylesheet" href="/site_media/css/manage.css" />

</head>

<body>
	<div class="csdn-toolbar csdn-toolbar-skin-black ">
		<div class="container row center-block ">
            <div class="pull-left">
                <a href="/wsn_admin/admin_news" >新闻模块</a>
                <a href="/wsn_admin/admin_user" >用户管理</a>
                <a href="/wsn_admin/data?data_type=air">数据管理</a>
            </div>
			<div class="pull-right login-wrap unlogin">
				<ul class="btns">
					<li class="loginlink"><span>欢迎您，XXX
					</span>&nbsp;|<a href="/wsn_admin/user/update" target="_top">&nbsp;修改信息&nbsp;</a>|<a href="/wsn_admin/user/update_password"
						target="_top">&nbsp;修改密码&nbsp;</a> |<a target="_top" href="/wsn_admin/user/logout">&nbsp;登出</a>|<a target="_top" href="/index">&nbsp;首页</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	
	<div id="wrap">

		<div class="head">
			<div class="user_info"></div>
		</div>

		<div class="tabs_header">
			<ul id="ul_tab" class="tabs" style="width:500px;">
				<li ><a href="?data_type=air"><span>空气数据</span> </a></li>
				<li class="active"><a href="?data_type=water"><span>水质数据</span> </a></li>
			</ul>
		</div>
		<table id="lstBox" cellspacing="0">
			<tr>
				<th class="tdleft">ID</th>
				<th style="width:90px;">PH值</th>
				<th style="width:50px;">DO值</th>
				<th style="width:70px;">浑浊度</th>
 				<th style="width:170px;">水位</th>
 				<th style="width:170px;">电导率</th>
 				<th style="width:170px;">时间</th>
                <th style="width:170px;">操作</th>
			</tr>

            {% for water in water_list %}

                <tr class="altitem">
                    <td class="tdleft">{{ water.water_id }}</td>
                    <td>{{water.ph}}</td>
                    <td>{{water.do}}</td>
                    <td>{{water.turbidity}}</td>
                    <td>{{water.water_level}}</td>
                    <td>{{water.conductivity}}</td>
                    <td>{{water.time}}</td>
                    <td>
                        <a href="#">编辑</a> |
                        <a href="#">删除</a>
                    </td>
                </tr>
            {% endfor %}
		</table>
        <input style="display: inline; float: right;" type="button" value = "上传" onclick="upload_data('water')" >
        <input id = "data_file" style = "display: inline; float: right;" type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
	</div>
<form id="Selchange" method = "post" action="Selchange"></form>

</body>
<script>
    function upload_data(data_type){
        var file = document.getElementById("data_file").files;
        alert(file[0].name);

        var xhr = new XMLHttpRequest();
        xhr.open('post', '/wsn_admin/data/upload/', true);///upload为文件上传的接口
        var fd = new FormData();
        fd.append('data_file', file[0]);
        fd.append('data_type', data_type);
        xhr.onreadystatechange = tip;
        xhr.send(fd);
        function tip(){
            if(xhr.readyState == 4 && xhr.status == 200){
                var b = xhr.responseText;
                if(b != "error") {
                    alert(b);
                }
                else{
                    alert("error");
                }
            }
            else if(xhr.readyState == 4){
                alert("通信失败");
            }
        }
{#        $.ajaxSubmit({#}
{#            type:"post",#}
{#            processData: false,#}
{#            url: "/wsn_admin/data/upload/",#}
{#            data:{#}
{#                "data_file": file[0],#}
{#                "data_type": data_type#}
{#            },#}
{#            success:function(data){#}
{#                alert(data);#}
{#            },#}
{#            error:function(){#}
{#                alert("异常");#}
{#            }#}
{#        });#}
    }
</script>
</html>
